<img src="../../assets/maquina-de-arcade.png" alt="logo" class="logoimg">
<h1>SALA DE JUEGOS</h1>
<h2>QUIEN SOY</h2> 

<div class="container">
    <p class="form">{{nombre}} {{apellido}}</p>
    <p class="form">{{descripcionJuego}}</p>
</div>
<div class="containerfoto">
    <img class="foto" src="https://media.licdn.com/dms/image/v2/D4D03AQGzpSK0icaNGQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1712699680242?e=1732147200&v=beta&t=y3zE5x3dAO0q84aeLVfbY8iUfNOB30BHcsQQeekSr-I" alt="Jonathan De Castro" >
</div>

