<div>
        <mat-label color="primary">SALA DE JEGOS</mat-label>
</div>

<div>
    <mat-form-field appearance="fill">
        <button mat-raised-button color="primary" routerLink="ahorcado" routerLinkActive="active-route">JUGAR AHORCADO</button>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <button mat-raised-button color="primary" routerLink="preguntados" routerLinkActive="active-route">JUGAR PREGUNTADOS</button>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <button mat-raised-button color="primary" routerLink="memoria" routerLinkActive="active-route">JUGAR MEMORIA</button>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <button mat-raised-button color="primary" routerLink="transporte" routerLinkActive="active-route">JUGAR TRANSPORTE</button>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <button mat-raised-button color="primary" routerLink="quiensoy" routerLinkActive="active-route">QUIEN SOY</button>
    </mat-form-field>
</div>
