<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<mat-toolbar>
    
    <img src="../../assets/maquina-de-arcade.png" alt="logo" class="logoimg">    
    <span>
        SALA DE JUEGOS
        <span class="material-symbols-outlined">joystick</span>        
    </span>
    
    <span class="spacer"></span>
    
    
    <p>{{auth.currentUser?.email}}</p>    
    
    <button mat-flat-button routerLink="/quiensoy" routerLinkActive="active-route" class="boton">
        <span class="material-symbols-outlined">person_play</span>
        QUIEN SOY
    </button>
    <button mat-flat-button (click)="abrirChat()" class="boton">
        <span class="material-symbols-outlined">chat</span>
        CHAT
    </button>
    <button mat-flat-button routerLink="/encuesta" routerLinkActive="active-route" class="boton">
        <span class="material-symbols-outlined">quiz</span>
        ENCUESTA
    </button>
    <button mat-flat-button routerLink="/puntajes" routerLinkActive="active-route" class="boton">
        <span class="material-symbols-outlined">format_list_bulleted</span>
        PUNTAJES
    </button>
    <ng-container *ngIf="auth.currentUser">        
        <button mat-flat-button color="primary" (click)="logout.CerrarSesion('/login')" class="boton">
            <span class="material-symbols-outlined">logout</span>
            CERRAR SESIÓN
        </button>
    </ng-container>
    <ng-container *ngIf="!auth.currentUser">        
        <button mat-flat-button color="primary" routerLink="/login" routerLinkActive="active-route" class="boton">
            <span class="material-symbols-outlined">login</span>
            INICIAR SESION
        </button>
    </ng-container>
 
    
</mat-toolbar>

<div class="container">
    <h2>JUEGOS DISPONIBLES</h2>
</div>        



<div class="container">
    <mat-card class="carta-home" appearance="outlined" routerLink="/juegos/ahorcado" routerLinkActive="active-route">
        <mat-card-header>
            <button mat-raised-button >
                <span class="material-symbols-outlined">crossword</span>
                AHORCADO
            </button>
        </mat-card-header>
        <mat-card-content>
            <p>Clásico juego de ahorcado. </p>
            <p>Adivinar la palabra utilizando el teclado en pantalla antes de que se termine el dibujo del ahorcado.</p>        
        </mat-card-content>
    </mat-card>
    
    <mat-card class="carta-home" appearance="outlined" routerLink="/juegos/preguntados" routerLinkActive="active-route">
        <mat-card-header>
            <button mat-raised-button >
                <span class="material-symbols-outlined">neurology</span>
                PREGUNTADOS
            </button>
        </mat-card-header>
        <mat-card-content>
                <p>Juego de Trivia con Imágenes.</p>
                <p>Identificar imágenes de monstruos de DnD 5e y seleccionar la respuesta correcta.</p>        
        </mat-card-content>
    </mat-card>
    

    
    <mat-card class="carta-home" appearance="outlined" routerLink="/juegos/mayormenor" routerLinkActive="active-route">
        <mat-card-header>
            <button mat-raised-button >
                <span class="material-symbols-outlined">playing_cards</span>
                MAYOR O MENOR
            </button>
        </mat-card-header>
        <mat-card-content>
            <p>Juego con cartas de poker.</p>
            <p>Adivinar si la siguiente carta en un mazo es mayor o menor.</p>        
        </mat-card-content>
    </mat-card>

    
    <mat-card class="carta-home" appearance="outlined" routerLink="/juegos/transporte" routerLinkActive="active-route">
        <mat-card-header>
            <button mat-raised-button >
                <span class="material-symbols-outlined">local_shipping</span>
                TRANSPORTE
            </button>
        </mat-card-header>
        <mat-card-content>
            <p>Juego de Transporte de Cajas.</p>
            <p>Se deben repartir cajas desde las fábricas hasta los depositos tratando de obtner el menor costo posible.</p>        
        </mat-card-content>
    </mat-card>
    

    
</div>
