<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<mat-toolbar>
    
    <img src="../../assets/maquina-de-arcade.png" alt="logo" class="logoimg">    
    <span>
        SALA DE JUEGOS
        <span class="material-symbols-outlined">joystick</span>        
    </span>
    
    <span class="spacer"></span>
    
    
    <p>{{auth.currentUser?.email}}</p>    
    
    <button mat-flat-button routerLink="/quiensoy" routerLinkActive="active-route" class="boton">
        <span class="material-symbols-outlined">person_play</span>
        QUIEN SOY
    </button>
    <button mat-flat-button (click)="abrirChat()" class="boton">
        <span class="material-symbols-outlined">chat</span>
        CHAT
    </button>
    <button mat-flat-button color="primary" (click)="logout.CerrarSesion('/login')" class="boton">
        <span class="material-symbols-outlined">logout</span>
        CERRAR SESIÓN
    </button>
    
</mat-toolbar>
    
<div class="container">
    <h2>JUEGOS DISPONIBLES</h2>
</div>        

<div class="container">
    <mat-card class="carta-home" appearance="outlined" routerLink="/juegos/ahorcado" routerLinkActive="active-route">
        <mat-card-header>
            <button mat-raised-button >
                <span class="material-symbols-outlined">crossword</span>
                AHORCADO
            </button>
        </mat-card-header>
        <mat-card-content>
                <p>Juego de Ahorcado</p>        
        </mat-card-content>
    </mat-card>
    
    <mat-card class="carta-home" appearance="outlined" routerLink="/juegos/preguntados" routerLinkActive="active-route">
        <mat-card-header>
            <button mat-raised-button >
                <span class="material-symbols-outlined">neurology</span>
                PREGUNTADOS
            </button>
        </mat-card-header>
        <mat-card-content>
                <p>Juego de Preguntados</p>        
        </mat-card-content>
    </mat-card>
    

    
    <mat-card class="carta-home" appearance="outlined" routerLink="/juegos/mayormenor" routerLinkActive="active-route">
        <mat-card-header>
            <button mat-raised-button >
                <span class="material-symbols-outlined">playing_cards</span>
                MAYOR O MENOR
            </button>
        </mat-card-header>
        <mat-card-content>
            <p>Juego de Mayor o Menor</p>        
        </mat-card-content>
    </mat-card>

    
    <mat-card class="carta-home" appearance="outlined" routerLink="/juegos/transporte" routerLinkActive="active-route">
        <mat-card-header>
            <button mat-raised-button >
                <span class="material-symbols-outlined">local_shipping</span>
                TRANSPORTE
            </button>
        </mat-card-header>
        <mat-card-content>
            <p>Juego de Memoria</p>        
        </mat-card-content>
    </mat-card>
    

    
</div>
