<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<mat-toolbar>
    
    <img src="../../assets/maquina-de-arcade.png" alt="logo" class="logoimg">    
    <span>
        SALA DE JUEGOS
        <span class="material-symbols-outlined">joystick</span>        
    </span>
    
    <span class="spacer"></span>
    
    
    <p>{{auth.currentUser?.email}}</p>    
    <button mat-flat-button color="primary" routerLink="/home" routerLinkActive="active-route" class="boton">
        <span class="material-symbols-outlined">joystick</span>
        JUEGOS
    </button>
    <button mat-flat-button color="primary" (click)="logout.CerrarSesion('/login')" class="boton">
        <span class="material-symbols-outlined">logout</span>
        CERRAR SESIÓN
    </button>
    
</mat-toolbar>
<div class="container">
    <h2>AHORCADO</h2>
</div>     


<div class="containter">
    <ng-container *ngIf="palabraActual">
        
            
        <div class="containter-juegos">
            <p>{{palabraActual}}</p>
        </div>
           
        <div class="containter-juegos">
            <mat-card appearance="outlined" class="carta"> 
                <div class="teclado">
                    <div class="linea-teclado">
                        <button class="tecla" (click)="detectarLetraTeclado('Q')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('Q')">Q</button>
                        <button class="tecla" (click)="detectarLetraTeclado('W')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('W')">W</button>
                        <button class="tecla" (click)="detectarLetraTeclado('E')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('E')">E</button>
                        <button class="tecla" (click)="detectarLetraTeclado('R')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('R')">R</button>
                        <button class="tecla" (click)="detectarLetraTeclado('T')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('T')">T</button>
                        <button class="tecla" (click)="detectarLetraTeclado('Y')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('Y')">Y</button>
                        <button class="tecla" (click)="detectarLetraTeclado('U')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('U')">U</button>
                        <button class="tecla" (click)="detectarLetraTeclado('I')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('I')">I</button>
                        <button class="tecla" (click)="detectarLetraTeclado('O')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('O')">O</button>
                        <button class="tecla" (click)="detectarLetraTeclado('P')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('P')">P</button>
                    </div>
            
                    <div class="linea-teclado">
                        <button class="tecla" (click)="detectarLetraTeclado('A')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('A')">A</button>
                        <button class="tecla" (click)="detectarLetraTeclado('S')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('S')">S</button>
                        <button class="tecla" (click)="detectarLetraTeclado('D')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('D')">D</button>
                        <button class="tecla" (click)="detectarLetraTeclado('F')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('F')">F</button>
                        <button class="tecla" (click)="detectarLetraTeclado('G')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('G')">G</button>
                        <button class="tecla" (click)="detectarLetraTeclado('H')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('H')">H</button>
                        <button class="tecla" (click)="detectarLetraTeclado('J')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('J')">J</button>
                        <button class="tecla" (click)="detectarLetraTeclado('K')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('K')">K</button>
                        <button class="tecla" (click)="detectarLetraTeclado('L')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('L')">L</button>
                        <button class="tecla" (click)="detectarLetraTeclado('Ñ')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('Ñ')">Ñ</button>
                    </div>
            
                    <div class="linea-teclado">
                        <button class="tecla" (click)="detectarLetraTeclado('Z')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('Z')">Z</button>
                        <button class="tecla" (click)="detectarLetraTeclado('X')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('X')">X</button>
                        <button class="tecla" (click)="detectarLetraTeclado('C')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('C')">C</button>
                        <button class="tecla" (click)="detectarLetraTeclado('V')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('V')">V</button>
                        <button class="tecla" (click)="detectarLetraTeclado('B')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('B')">B</button>
                        <button class="tecla" (click)="detectarLetraTeclado('N')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('N')">N</button>
                        <button class="tecla" (click)="detectarLetraTeclado('M')" [disabled]="juegoPerdido" [disabled]="inhabilitarTecla('M')">M</button>
                    </div>           
                    
                </div>                
            </mat-card>

            <div class="containter-juegos">
                <!-- <img src="https://cdn-icons-png.freepik.com/512/3274/3274156.png" alt="carta actual"> -->
                
                <mat-card appearance="outlined" class="carta">    
                    <button mat-flat-button (click)="siguientePalabra()" class="boton" [disabled]="juegoPerdido" [disabled]="!palabraTerminada">
                        <span class="material-symbols-outlined" >moving</span>
                        SIGUIENTE PALABRA
                    </button>
                    
                    <div class="containter-juegos">
                        <mat-card appearance="outlined" class="example-card">    
                            <p>INTENTOS: {{intentos}}</p>
                        </mat-card>       
                    </div>
    
                    <div class="containter-juegos">
                        <mat-card appearance="outlined" class="example-card">    
                            <p>PUNTAJE: {{puntajeActual}}</p>
                        </mat-card>       
                    </div>
    
                    <ng-container *ngIf="juegoPerdido">
                        <div class="containter-juegos">                        
                            <p>PERDISTE</p>                        
                            <mat-card appearance="outlined" class="carta">                               
                                <div class="containter-juegos">
                                        <p>PUNTAJE FINAL: {{puntajeFinal}}</p>
                                </div>
                            </mat-card>
    
                            <button mat-flat-button (click)="iniciarJuego()" class="boton">
                                <span class="material-symbols-outlined" >restart_alt</span>
                                REINICIAR
                            </button>
                        </div>    
                    </ng-container>
                </mat-card>  
                
                
            </div>     
        </div>

        <div class="containter-juegos">
            <div class="linea-teclado">
                <ng-container *ngFor="let char of palabraDivididaEnCaracteres; let i = index">
                        <span class="tecla" *ngIf="letrasAdivinadas[i]">{{char}}</span>
                        <span class="tecla" *ngIf="!letrasAdivinadas[i]">_</span>                       
                </ng-container>  
            </div>
        </div>


           
    </ng-container >

    
</div>

