<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<mat-toolbar>
    
    <img src="../../assets/maquina-de-arcade.png" alt="logo" class="logoimg">    
    <span>
        SALA DE JUEGOS
        <span class="material-symbols-outlined">joystick</span>        
    </span>
    
    <span class="spacer"></span>
    
    
    <p>{{auth.currentUser?.email}}</p>    
    <button mat-flat-button color="primary" routerLink="/home" routerLinkActive="active-route" class="boton">
        <span class="material-symbols-outlined">joystick</span>
        JUEGOS
    </button>
    <button mat-flat-button color="primary" (click)="logout.CerrarSesion('/login')" class="boton">
        <span class="material-symbols-outlined">logout</span>
        CERRAR SESIÓN
    </button>
    
</mat-toolbar>
<div class="container">
    <h2>TRANSPORTE DE PAQUETES</h2>
</div>     

<div class="containter-juegos">        
    <mat-card appearance="outlined">    
        <table class="tabla-transporte" >
            <thead>
                <tr>
                    <th>
                    PARADAS: {{paradasMaximasMinimas}}
                </th>
                <!-- Depositos -->
                <th>
                    <div class="containter-celda">
                        <p class="deposito-1">
                            Depósito 1
                        </p>
                        <span [ngClass]="{'completo': depositos.get('1')?.[0]==depositos.get('1')?.[1]}">
                            [{{depositos.get('1')?.[0]}}/{{depositos.get('1')?.[1]}}]
                        </span>
                                                    
                        <img src="{{depositos.get('1')?.[3]}}" alt="Estantería 1A" >
                    </div>
                </th>
                <th>
                    <div class="containter-celda">
                        <p class="deposito-2">
                            Depósito 2
                        </p>
                        <span [ngClass]="{'completo': depositos.get('2')?.[0]==depositos.get('2')?.[1]}">
                            [{{depositos.get('2')?.[0]}}/{{depositos.get('2')?.[1]}}]
                        </span>
                        <img src="{{depositos.get('2')?.[3]}}" alt="Estantería 1A" >
                    </div>
                </th>
                <th>
                    <div class="containter-celda">
                        <p class="deposito-3">
                            Depósito 3
                        </p>                             
                        <span [ngClass]="{'completo': depositos.get('3')?.[0]==depositos.get('3')?.[1]}">
                            [{{depositos.get('3')?.[0]}}/{{depositos.get('3')?.[1]}}]
                        </span>                       
                        <img src="{{depositos.get('3')?.[3]}}" alt="Estantería 1A" >
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <div class="containter-celda">
                        <p class="fabrica-A">
                            Fábrica A
                        </p>                          
                        <span [ngClass]="{'vacio': fabricas.get('A')?.[0]==0}">
                            [{{fabricas.get('A')?.[0]}}/{{fabricas.get('A')?.[1]}}]
                        </span>                          
                        <img src="{{fabricas.get('A')?.[3]}}" alt="Estantería 1A" >
                        <img src="../../assets/transporte/camion.png" alt="camion" class="logoimg">
                    </div>
                </th>
                <!-- Celdas para las estanterías de la Fábrica A -->
                <td>
                    <!-- Estantería 1A -->
                    <div class="containter-celda">
                        <p class="deposito-1"> Estantería 1A</p>
                        <span [ngClass]="{'vacio': estanterias.get('1A')?.[0]==0,'completo': depositos.get('1')?.[0]==depositos.get('1')?.[1] }">
                            [{{estanterias.get('1A')?.[0]}} Cajas]
                        </span>
                        <img src="{{estanterias.get('1A')?.[3]}}" alt="Estantería 1A" >
                        <span class="fabrica-A">
                            ${{estanterias.get('1A')?.[1]}} x Caja
                        </span>
                    </div>
                    <button (click)="moverCajas('quitar', '1','A')" class="btn fabrica-A" [disabled]="juegoTerminado">
                        <span class="material-symbols-outlined">remove</span>
                    </button>
                        <button (click)="moverCajas('agregar', '1','A')" class="btn fabrica-A" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                </td>
                <td>
                    <!-- Estantería 2A -->
                    <div class="containter-celda">
                        <p class="deposito-2">Estantería 2A</p>
                        <span [ngClass]="{'vacio': estanterias.get('2A')?.[0]==0,'completo': depositos.get('2')?.[0]==depositos.get('2')?.[1]}">
                            [{{estanterias.get('2A')?.[0]}} Cajas]
                        </span>
                        <img src="{{estanterias.get('2A')?.[3]}}" alt="Estantería 2A" >
                        <span class="fabrica-A">
                            ${{estanterias.get('2A')?.[1]}} x Caja
                        </span>
                    </div>
                    <button (click)="moverCajas('quitar', '2','A')" class="btn fabrica-A" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">remove</span>
                        </button>
                        <button (click)="moverCajas('agregar', '2','A')" class="btn fabrica-A" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                </td>
                <td>
                    <div class="containter-celda">
                        <!-- Estantería 3A -->
                        <p class="deposito-3">Estantería 3A</p>
                        <span [ngClass]="{'vacio': estanterias.get('3A')?.[0]==0,'completo': depositos.get('3')?.[0]==depositos.get('3')?.[1]}">
                            [{{estanterias.get('3A')?.[0]}} Cajas]
                        </span>
                        <img src="{{estanterias.get('3A')?.[3]}}" alt="Estantería 3A" >
                        <span class="fabrica-A">
                            ${{estanterias.get('3A')?.[1]}} x Caja
                        </span>
                    </div>
                        <button (click)="moverCajas('quitar', '3','A')" class="btn fabrica-A" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">remove</span>
                        </button>
                        <button (click)="moverCajas('agregar', '3','A')" class="btn fabrica-A" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                </td>
            </tr>
            <tr>
                <th>
                    <div class="containter-celda">
                        <p class="fabrica-B">
                            Fábrica B
                        </p>                                                   
                        <span [ngClass]="{'vacio': fabricas.get('B')?.[0]==0}">
                            [{{fabricas.get('B')?.[0]}}/{{fabricas.get('B')?.[1]}}]
                        </span> 
                        <img src="{{fabricas.get('B')?.[3]}}" alt="Estantería 1A" >
                        <img src="../../assets/transporte/camion.png" alt="camion" class="logoimg">
                    </div>
                </th>
                <!-- Celdas para las estanterías de la Fábrica B -->
                <td>
                    <!-- Estantería 1B -->
                    <div class="containter-celda">
                        <p class="deposito-1">Estantería 1B</p>
                        <span [ngClass]="{'vacio': estanterias.get('1B')?.[0]==0,'completo': depositos.get('1')?.[0]==depositos.get('1')?.[1]}">
                            [{{estanterias.get('1B')?.[0]}} Cajas]
                        </span>
                        <img src="{{estanterias.get('1B')?.[3]}}" alt="Estantería 1B" >
                        <span class="fabrica-B">
                            ${{estanterias.get('1B')?.[1]}} x Caja
                        </span>
                    </div>
                        <button (click)="moverCajas('quitar', '1','B')" class="btn fabrica-B" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">remove</span>
                        </button>
                        <button (click)="moverCajas('agregar', '1','B')" class="btn fabrica-B" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                </td>
                <td>
                    <!-- Estantería 2B -->
                    <div class="containter-celda">
                        <p class="deposito-2">Estantería 2B</p>
                        <span [ngClass]="{'vacio': estanterias.get('2B')?.[0]==0,'completo': depositos.get('2')?.[0]==depositos.get('2')?.[1]}">
                            [{{estanterias.get('2B')?.[0]}} Cajas]
                        </span>
                        <img src="{{estanterias.get('2B')?.[3]}}" alt="Estantería 2B" >
                        <span class="fabrica-B">
                            ${{estanterias.get('2B')?.[1]}} x Caja
                        </span>
                    </div>
                        <button (click)="moverCajas('quitar', '2','B')" class="btn fabrica-B" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">remove</span>
                        </button>
                        <button (click)="moverCajas('agregar', '2','B')" class="btn fabrica-B" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                </td>
                <td>
                    <!-- Estantería 3B -->
                    <div class="containter-celda">
                        <p class="deposito-3">Estantería 3B</p>
                        <span [ngClass]="{'vacio': estanterias.get('3B')?.[0]==0,'completo': depositos.get('3')?.[0]==depositos.get('3')?.[1]}">
                            [{{estanterias.get('3B')?.[0]}} Cajas]
                        </span>
                        <img src="{{estanterias.get('3B')?.[3]}}" alt="Estantería 3B" >
                        <span class="fabrica-B">
                            ${{estanterias.get('3B')?.[1]}} x Caja
                        </span>
                    </div>
                        <button (click)="moverCajas('quitar', '3','B')" class="btn fabrica-B" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">remove</span>
                        </button>
                        <button (click)="moverCajas('agregar', '3','B')" class="btn fabrica-B" [disabled]="juegoTerminado">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                </td>
            </tr>
        </tbody>
    </table>
</mat-card>
    
    <mat-card appearance="outlined" class="explicacion-card">    

        <ng-container *ngIf="!juegoTerminado">
            <button mat-flat-button color="primary" (click)="enviarIntento()" class="boton">
                <span class="material-symbols-outlined">send</span>
                ENVIAR
            </button>
            
            <ng-container *ngIf="!errorJugador">
                <mat-card appearance="outlined" class="example-card">    
                    <p class="explicacion-juego">{{explicacionJuego1}}</p>
                    <p class="explicacion-juego">{{explicacionJuego2}}</p>
                    <p class="explicacion-juego">{{explicacionJuego3}}</p>
                    <p class="explicacion-juego">{{explicacionJuego4}}</p>
                </mat-card>   
            </ng-container>

        </ng-container>
        
        <ng-container *ngIf="errorJugador">
            
            <mat-card appearance="outlined" class="example-card">    
                <p>SEGUIR JUGANDO: {{mensajeErrorJugador}}</p>
            </mat-card>    
            
            <button mat-flat-button (click)="iniciarJuego()" class="boton">
                <span class="material-symbols-outlined" >restart_alt</span>
                REINICIAR
            </button>
        </ng-container>

        
        <ng-container *ngIf="juegoTerminado">
            
            <mat-card appearance="outlined" class="example-card">    
                <p>VALOR OPTIMO: {{valorOptimo}}</p>
            </mat-card>

            
            <mat-card appearance="outlined" class="example-card">    
                <p>TU VALOR: {{valorSumaGastosCajasDepositos}}</p>
            </mat-card>

            
            <mat-card appearance="outlined" class="example-card">    
                <p>DIFERENCIA: {{diferenciaConOptimo}}</p>
                <p>PUNTAJE: {{puntajeActual}}</p>
            </mat-card>
            
            <button mat-flat-button (click)="iniciarJuego()" class="boton">
                <span class="material-symbols-outlined" >restart_alt</span>
                REINICIAR
            </button>
        </ng-container>

    </mat-card>  
    
    
</div>


