<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<mat-toolbar>
    <img src="../../assets/maquina-de-arcade.png" alt="logo" class="logoimg">    
    <span>
        SALA DE JUEGOS
        <span class="material-symbols-outlined">joystick</span>        
    </span>

    <span class="spacer"></span>
    
</mat-toolbar>

<div class="container">
    <h2>REGISTRAR USUARIO</h2>
</div>

<div class="container">
    <mat-form-field appearance="fill" class="form">
        <mat-label>Nombre usuario</mat-label>
        <input matInput  type="text" placeholder="Usuario" [(ngModel)]="usuarioNuevo"> 
    </mat-form-field>
</div>

<div class="container">
    <mat-form-field appearance="fill" class="form">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" placeholder="Contraseña" [(ngModel)]="claveUsuarioNueva">    
        <button mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
            <span class="material-icons">visibility</span>
        </button>     
    </mat-form-field>
</div>

<div class="container"> 
    <button mat-raised-button color="primary" (click)="RegistrarUsuariosNuevos()" class="boton"> Registrar </button>
    <button mat-flat-button color="primary" routerLink="/login" routerLinkActive="active-route" class="boton"> Cancelar </button>
</div>

