<img src="../../assets/maquina-de-arcade.png" alt="logo" class="logoimg">
<h1>SALA DE JUEGOS</h1>
<h2>INICIAR SESION</h2>

<div class="container">
    <mat-form-field appearance="fill" class="form">
        <mat-label>Nombre usuario</mat-label>
        <input matInput  type="text" placeholder="Usuario" [matAutocomplete]="auto" [(ngModel)]="usuario"> 
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option [value]="mailAuto">{{mailAuto}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<div class="container">
    <mat-form-field appearance="fill" class="form">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" placeholder="Contraseña" [matAutocomplete]="autoClave" [(ngModel)]="claveUsuario">   
        <mat-autocomplete autoActiveFirstOption #autoClave="matAutocomplete">
            <mat-option [value]="claveAuto">{{claveAuto}}</mat-option>
        </mat-autocomplete> 
        <button mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()">
            <span class="material-icons">visibility</span>
        </button>     
    </mat-form-field>
</div>

<div class="container"> 
    <button mat-raised-button color="primary" (click)="IniciarSesion('/home')" class="boton">  Ingresar </button>
    <button mat-raised-button color="primary" (click)="Registrar('/registro')" class="boton">  Registrarse </button>
    <span></span>
</div>
