<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<mat-toolbar>
    
    <img src="../../assets/maquina-de-arcade.png" alt="logo" class="logoimg">    
    <span>
        SALA DE JUEGOS
        <span class="material-symbols-outlined">joystick</span>        
    </span>
    
    <span class="spacer"></span>
    
    
    <p>{{auth.currentUser?.email}}</p>    
    <button mat-flat-button color="primary" routerLink="/home" routerLinkActive="active-route" class="boton">
        <span class="material-symbols-outlined">joystick</span>
        JUEGOS
    </button>
    <ng-container *ngIf="auth.currentUser">        
        <button mat-flat-button color="primary" (click)="logout.CerrarSesion('/login')" class="boton">
            <span class="material-symbols-outlined">logout</span>
            CERRAR SESIÓN
        </button>
    </ng-container>
    <ng-container *ngIf="!auth.currentUser">        
        <button mat-flat-button color="primary" routerLink="/login" routerLinkActive="active-route" class="boton">
            <span class="material-symbols-outlined">login</span>
            INICIAR SESION
        </button>
    </ng-container>
</mat-toolbar>
<div class="container">
    <h2>PREGUNTADOS</h2>
</div>     


<div class="containter">
    <div class="containter-juegos">    

            <ng-container *ngIf="monstruosLista">
        
                <mat-card appearance="outlined" class="preguntados-card">    
                    <p>PREGUNTA {{preguntaIndex+1}}/{{preguntasPorCateogria}}: ¿Qué monstruo es este?</p>
                    <img src="https://5e.tools/img/bestiary/tokens/MM/{{respuestaCorrectaActual.name}}.webp" alt="{{respuestaCorrectaActual.name}}">

                    <mat-radio-group [(ngModel)]="opcionSeleccionada" class="preguntados-card" aria-label="Select an option" [disabled]="juegoPerdido">
                        <ng-container *ngFor="let char of todasLasRespuestasActuales; let i = index">
                            <span>
                                <mat-radio-button value="{{todasLasRespuestasActuales[i].name}}">{{todasLasRespuestasActuales[i].name}}</mat-radio-button>
                            </span>    
                        </ng-container>
                    </mat-radio-group>

                    <button mat-flat-button (click)="enviarRespuesta()" class="boton" [disabled]="juegoPerdido  ">
                        <span class="material-symbols-outlined" >send</span>
                        ENVIAR RESPUESTA
                    </button>                        
                </mat-card>       
                
                <ng-container *ngIf="!juegoPerdido">                        
                    <mat-card appearance="outlined" class="carta-juego">    
                        
                            <mat-card appearance="outlined" class="example-card">    
                                <p>PUNTAJE: {{puntajeActual}}</p>
                            </mat-card>       

                            <button mat-flat-button (click)="iniciarJuego()" class="boton">
                                <span class="material-symbols-outlined" >restart_alt</span>
                                REINICIAR
                            </button>
                    </mat-card>
                </ng-container>
                
                <ng-container *ngIf="juegoPerdido">
                    <mat-card appearance="outlined" class="carta-juego">    
                        <p>JUEGO TERMINADO</p>
                        <mat-card appearance="outlined" class="example-card">    
                            <p>PUNTAJE FINAL: {{puntajeActual}} Respuestas correctas</p>
                        </mat-card>       
                        <button mat-flat-button (click)="iniciarJuego()" class="boton">
                            <span class="material-symbols-outlined" >restart_alt</span>
                            REINICIAR
                        </button>
                    </mat-card>
                </ng-container>

            </ng-container>         


    </div>       

</div>

